<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.authine.cloudpivot.web.api.mapper.XsContractAndChangedMapper">
    <!-- 查询合同变更 -->
    <select id="selectById" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.XsConstractAndChanged">
        SELECT *
        from i1uyc_xs_contract_changed
        where id = #{id}
    </select>

    <!-- 插入合同管理 -->
    <insert id="insertXsConstract" parameterType="com.authine.cloudpivot.web.api.entity.XsConstractAndChanged">
        INSERT INTO i1uyc_xs_contract
        (id, name, creater, createdDeptId, owner, ownerDeptId, createdTime, modifier, modifiedTime, sequenceNo,
         sequenceStatus, ownerDeptQueryCode, industry, contract_type, pId, changed, change_remark, project_no,
         project_type, project_Name_Short, project_Name, contract_no, contract_name, comes, sign_date,
         cust_id, user_name, product_names, saler_id, saler_depart, saler_depart_leader, account_entity, all_money,
         soft_money,
         hardware_money, pay_way, operation_start_date, operation_end_date, operation_Price, manager_user_id,
         plan_begin_date,
         plan_end_date, carry_begin_date, carry_end_date, archives_place, accept, accept_name, accept_date,
         accept_executive, accept_opinion,
         accept_client_satisfaction, accept_remark, version, changed_pid, deleted, states, other_money,
         project_level, money_remark, pay_remark, operation_remark, remark1, remark2, remark3,
         quality_remark, quality_begin_date, quality_end_date, quality_money, quality_money_back)
        values (#{id}, #{name}, #{creater}, #{createdDeptId}, #{owner}, #{ownerDeptId}, #{createdTime}, #{modifier},
                #{modifiedTime}, #{sequenceNo}, #{
        sequenceStatus}, #{ownerDeptQueryCode}, #{industry}, #{contractType}, #{pId}, #{changed}, #{changeRemark},
                #{projectNo}, #{
        projectType}, #{projectNameShort}, #{projectName}, #{contractNo}, #{contractName}, #{comes}, #{signDate}, #{
        custId}, #{userName}, #{productNames}, #{salerId}, #{salerDepart}, #{salerDepartLeader}, #{accountEntity},
                #{allMoney}, #{softMoney}, #{
        hardwareMoney}, #{payWay}, #{operationStartDate}, #{operationEndDate}, #{operationPrice}, #{managerUserId},
                #{planBeginDate}, #{
        planEndDate}, #{carryBeginDate}, #{carryEndDate}, #{archivesPlace}, #{accept}, #{acceptName}, #{acceptDate},
                #{acceptExecutive}, #{acceptOpinion}, #{
        acceptClientSatisfaction}, #{acceptRemark}, #{version}, #{changedPid}, #{deleted}, #{states}, #{otherMoney},
                #{projectLevel}, #{moneyRemark}, #{payRemark}, #{operationRemark}, #{remark1}, #{remark2}, #{remark3},
                #{qualityRemark}, #{qualityBeginDate}, #{qualityEndDate}, #{qualityMoney}, #{qualityMoneyBack})
    </insert>

    <!-- 查询收入分析表数据 -->
    <select id="getCwIncomeInfo" resultType="com.authine.cloudpivot.web.api.entity.CwIncome">
        select i1uyc_xs_contract.* ,
        i1uyc_xs_customer.cust_name,i1uyc_xs_customer.zero,i07d5_sys_dict_contract_type.name as projectTypeName
        /*,i1uyc_xs_accept_report.accept_date, i1uyc_xs_accept_report.accept_opinion*/
        from
        (select * from i1uyc_xs_contract
        GROUP BY contract_no HAVING deleted=0
        <if test="startDate != null ">
            and sign_date &gt;= #{startDate}
        </if>
        <if test="endDate != null">
            and sign_date &lt;= #{endDate}
        </if>) i1uyc_xs_contract
        LEFT JOIN i1uyc_xs_customer on i1uyc_xs_contract.cust_id=i1uyc_xs_customer.id
        /* LEFT JOIN i1uyc_xs_accept_report on i1uyc_xs_accept_report.contract_id=i1uyc_xs_contract.id */
        LEFT JOIN i07d5_sys_dict_contract_type on i1uyc_xs_contract.project_type=i07d5_sys_dict_contract_type.id
        WHERE i1uyc_xs_contract.deleted=0
        and i1uyc_xs_contract.contract_no is not null
        ORDER BY i1uyc_xs_contract.sign_date desc
    </select>

    <resultMap id="acceptReportInfo" type="java.util.Map">
        <id column="id" property="id" javaType="java.lang.String" jdbcType="VARCHAR"></id>
        <result column="accept_date" property="acceptDate" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="accept_opinion" property="acceptOpinion" javaType="java.lang.String"
                jdbcType="VARCHAR"></result>
    </resultMap>
    <select id="getAcceptReportInfo" resultMap="acceptReportInfo">
        select DATE_FORMAT(accept_date, "%Y-%m-%d %H:%i:%s") as accept_date, accept_opinion
        from i1uyc_xs_accept_report
        where contract_id = #{contractId}
    </select>
</mapper>