<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.authine.cloudpivot.web.api.mapper.DailyPaperMapper">
    <!--视图返回信息-property是实体类中字段；column是数据库中字段 -->
    <resultMap id="workFlowTypeInfo" type="com.authine.cloudpivot.ext.entity.DailyDetail">
        <id property="workPersons" column="workPersons" javaType="STRING" jdbcType="VARCHAR"/>
        <!-- collection 标签需放在最后 column 相当于引用的字段-->
        <collection property="userList" column="workPersons"
                    select="com.authine.cloudpivot.web.api.mapper.DailyPaperMapper.getUserInfo"/>
    </resultMap>

    <resultMap id="userList" type="java.util.Map">
        <id property="personName" column="personName" javaType="STRING" jdbcType="VARCHAR"/>
        <id property="imgUrl" column="imgUrl" javaType="STRING" jdbcType="VARCHAR"/>
        <id property="personId" column="personId" javaType="STRING" jdbcType="VARCHAR"/>
        <id property="type" column="type" javaType="STRING" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getDailyTimeNum" resultType="int">
        SELECT dailyNumber
        FROM i07d5_modify_daily_number
        Order By createdTime desc
        limit 1
    </select>

    <select id="getViewWorkOrderInfo" resultMap="workFlowTypeInfo">
        SELECT
               a.id AS workOrderId,
               a.workFlowType,
               a.title,
               a.workOrderType,
               a.workContent,
               a.beginDate,
               a.endDate,
               a.workPersons,
               IFNULL(a.workResult, '') as workResult
        from viewWorkOrder a
        where a.workPersons LIKE concat('%', #{userId}, '%')
           OR a.otherWorkPersons LIKE concat('%', #{userId}, '%')
            and (a.endDate is null OR a.endDate > date_add(now(), interval -5 day))
        ORDER BY a.id, a.sortKey
    </select>

    <select id="getUserInfo" resultMap="userList">
        SELECT b.name as personName,
               b.imgUrl,
               b.id   as personId,
               3      as type
        from h_org_user b
        where #{workPersons} like concat('%', b.id, '%')
    </select>


    <select id="getRefuseId" resultType="java.lang.String">
        SELECT id
        from iswz0_daily_paper
        where creater = #{userId}
          AND date_format(dailyTime, '%Y-%m-%d') = date_format(#{date}, '%Y-%m-%d')
          AND id != #{objectId}
    </select>

    <delete id="batchDelete">
        delete from iswz0_daily_paper
        where id in
        <foreach collection="list" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </delete>

    <select id="getDailyDetail" resultType="com.authine.cloudpivot.ext.entity.DailyDetail">
        select a.workOrderId,
               a.workFlowType,
               a.title,
               a.workOrderType,
               a.workContent,
               a.beginDate,
               a.endDate,
               a.exeuser as workPersons,
               a.workResult,
               a.timeNum as workingHours
        from iswz0_work_detail a
                     inner join (select id
                                 from iswz0_daily_paper
                                 where creater = #{uid,jdbcType=VARCHAR}
                                   and dailyTime = #{date,jdbcType=VARCHAR}
                                 order by createdTime desc
                                         limit 1) b
                on a.parentId = b.id
    </select>
</mapper>
