<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.authine.cloudpivot.ext.mapper.WorkOrderMapper">
    <resultMap id="workOrderInfo" type="com.authine.cloudpivot.ext.entity.WorkOrder">
        <result column="approver" property="approver"
                typeHandler="com.authine.cloudpivot.ext.mybatis.handler.FastjsonTypeHandler"/>
        <result column="department" property="department"
                typeHandler="com.authine.cloudpivot.ext.mybatis.handler.FastjsonTypeHandler"/>
        <result column="executor" property="executor"
                typeHandler="com.authine.cloudpivot.ext.mybatis.handler.FastjsonTypeHandler"/>
        <result column="recipient" property="recipient"
                typeHandler="com.authine.cloudpivot.ext.mybatis.handler.FastjsonTypeHandler"/>
    </resultMap>

    <sql id="create-where">
        <if test="entity.userId != null and entity.userId != ''">
            and creator = #{entity.userId}
        </if>
    </sql>

    <sql id="recipient-where">
        <if test="entity.userId != null and entity.userId != ''">
            and 1 = 1
            and ( json_contains(approver, json_array(#{entity.userId}))
            or json_contains(executor, json_array(#{entity.userId})) )
        </if>
    </sql>

    <!-- 通用查询 -->
    <sql id="common-select">
        select *
        from view_work_order_test
    </sql>

    <!-- 通用条件 -->
    <sql id="common-where">
        <!-- 标题摘要 -->
        <if test="entity.title != null and entity.title != ''">
            and title like concat('%',#{entity.title},'%')
        </if>
        <!-- 紧急程度 -->
        <if test="entity.urgencyDegree != null">
            and urgencyDegree = #{entity.urgencyDegree}
        </if>
        <!-- 是否逾期 -->
        <if test="entity.overdue != null">
            <if test="entity.overdue == true">
                and (deadline is not null and ifnull(endTime, now()) > deadline)
            </if>
            <if test="entity.overdue == false">
                <![CDATA[
                and (deadline is null or ifnull(endTime, now()) < deadline)
            ]]>
            </if>
        </if>
        <!-- 工单状态 -->
        <if test="entity.status != null">
            and status = #{entity.status.name}
        </if>
    </sql>

    <!-- 排序 -->
    <sql id="sort">
        order by createdTime desc
    </sql>

    <select id="getWorkOrderByCreator" resultMap="workOrderInfo">
        <include refid="common-select"/>
        <where>
            <include refid="create-where"/>
            <include refid="common-where"/>
        </where>
        <include refid="sort"/>
    </select>

    <select id="getWorkOrderByRecipient" resultMap="workOrderInfo">
        <include refid="common-select"/>
        <where>
            <include refid="recipient-where"/>
            <include refid="common-where"/>
        </where>
        <include refid="sort"/>
    </select>
</mapper>
